@import url('https://fonts.googleapis.com/css2?family=Galada&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
font-family: "Galada", cursive;
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif;

colors:
#252525 - preto
#1f6ce8 - azul
#e9e9e9 - branco
*/

.main {
	margin: 0 auto;
	width: 95%;
}

.container-toolbar {
	height: 120px;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0px 0px 100px rgb(23, 23, 23);
	position: relative;
}

.container-toolbar h2 {
	color: #fff;
	font-family: "Roboto", sans-serif;
	border-bottom: 1px solid rgb(219, 201, 0);
	opacity: .8;
	padding-bottom: 10px;
}

.container-toolbar p {
	font-family: "Poppins", sans-serif;
	font-size: .8rem;
	color: #ffffff;
	padding: 20px 0;
}

.container-toolbar img {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 30px;
}

.container-gerenciamento-usuarios {
	margin-top: 20px;
	padding: 20px;
	height: auto;
	border-radius: 20px;
	background-color: rgb(24, 26, 34);
	box-shadow: 0px 0px 150px #111111;
	position: relative;
}

.gerenciamento-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 0 20px;
}

.gerenciamento-title h1 {
	font-family: "Roboto", sans-serif;
	color: #E0E0E0;
	font-size: 1.7rem;
}

.gerenciamento-title img {
	cursor: pointer;
	width: 40px;
}

.gerenciamento-tipo-pesquisa {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
}

.gerenciamento-status, .gerenciamento-funcao {
	border-radius: 10px;
	height: 175px;
	width: 300px;
	border: 1px solid rgb(82, 82, 91);
	padding: 20px;
}

.gerenciamento-flex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	height: calc(100% - 40px);
}

.gerenciamento-flex h1 {
	color: #fff;
	font-size: 1.3rem;
	font-family: "Roboto", sans-serif;
	margin-bottom: 20px;
}

.gerenciamento-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.gerenciamento-form label {
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 1.1rem;
}

input[type="radio"] {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
  	background-color: transparent;
	border: 1px solid rgb(64, 64, 72); 
}

input[type="radio"]:checked {
	background-color: #1f6ce8;
	border: none;
}

.gerenciamento-input {
	display: flex;
	gap: 20px;
}

.gerenciamento-search-box {
	width: 100%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.div-search {
	height: 60px;
	width: 100%;
	position: relative;
	background-color: transparent;
	border-radius: 15px;
}

.div-search input {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid rgb(64, 64, 72);
	outline: none;
	font-size: 1.1rem;
	font-family: "Poppins", sans-serif;
	padding: 20px;
	color: #959595;
}

.div-search img {
	width: 30px;
	position: absolute;
	right: 10px;
	opacity: .8;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	filter: url("filters.svg#filter-id");
}

.gerenciamento-table {
	width: 100%;
	height: 500px;
	overflow-y: auto;
	overflow-x: auto;
	margin-top: 10px;
	display: block;
}

.gerenciamento-table table {
	border-collapse: collapse;
	width: 100%;
}

.gerenciamento-search-box {
	margin-bottom: auto;
}

.gerenciamento-table table tr:nth-child(1) {
	height: 60px;
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	color: rgb(212, 212, 212);
	border-bottom: 1px solid rgba(62, 62, 67, 0.412);
}

.gerenciamento-table table td {
	height: 65px;
	border-bottom: 1px solid rgba(62, 62, 67, 0.412);
	font-family: "Poppins", sans-serif;
	color: rgb(212, 212, 212);
}

.gerenciamento-table table td:nth-child(1) {
	padding: 10px;
}

.gerenciamento-table tr td img {
	align-items: center;
	cursor: pointer;
	width: 20px;
}

#update {
	filter: contrast(20%);
}

#delete {
	filter: contrast(80%);
}

.box-button-novo-user {
	padding-top: 10px;
	padding-bottom: 20px;
	margin-left: auto;
}

#buttonOpenModal {
	height: 50px;
	width: 160px;
	background-color: #1f6ce8;
	font-size: 1rem;
	border-radius: 10px;
	color: #e9e9e9;
	border: none;
	font-family: "Poppins", sans-serif;
	cursor: pointer;

	transition: .5s all;
}

#buttonOpenModal:hover {
	background-color: rgb(10, 51, 118);
}

.box-page {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 30px;
	margin-bottom: 0px;
}

.box-page-p {
	background-color: rgb(32, 32, 43);
	
	padding: 10px;
	width: 35px;
	height: 35px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-page-p p {
	font-size: 1.2rem;
	color: #054eec;
	font-family: "Poppins", sans-serif;
}

.box-page img {
	width: 15px;
	height: 15px;
	cursor: pointer;
	filter: contrast(0%);
	opacity: .5;
}

.box-page img:nth-child(1) {
	transform: rotate(180deg);
}

.action-buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

@media (max-width: 600px) {
  .action-buttons {
    gap: 15px;
  }
}


@media (min-width: 600px) {

	.box-page {
		margin-top: 0;
		margin-bottom: 0;
	}

}

@media (min-width: 700px) {
	
	.main {
		width: 85%;
	}

	.gerenciamento-tipo-pesquisa {
		flex-wrap: nowrap;
		flex-direction: row;
	}

	.box-button-novo-user {
		padding-top: 0;
	}
	
}

@media (min-width: 1000px) {

	.gerenciamento-tipo-pesquisa {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.gerenciamento-flex {
		flex-wrap: nowrap;
	}

	.container-gerenciamento-usuarios {
		height: auto;
	}

	.gerenciamento-table {
		height: auto;
	}

	.box-button-novo-user {
		padding-top: 30px;
	}

	.box-page {
		position: absolute;
		left: 60%;
		bottom: 50px;
		transform: translateX(-60%);
	}

}