@import url('https://fonts.googleapis.com/css2?family=Galada&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
font-family: "Galada", cursive;
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif;

#1c163e - roxo escuro
#4f46e5 - roxo claro
#9ca3af - branco cinza
#059669 - verde
#dc2626 - vermelho
rgba(249, 250, 251, 0.05) - campos input e outros campos
#9CA3AF - placeholder
*/



.video-fundo {
	height: 100%;
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
}

.video {
	height: 100vh;
	width: 100%;
	object-fit: cover;
}

.apresentation {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	position: relative;
}

.apresentation h1 {
	font-family: "Roboto", sans-serif;
	font-size: 1.7rem;
	color: #25007d15;

	animation-name: animation-title-apresentation;
	animation-duration: 50s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes animation-title-apresentation {
	0% {
		color: #25007d35;
	}
	80% {
		color: #25007d;
	}
	10% {
		color: #f4efff;
	}
}

.apresentation img {
	width: 200px;
}

.main {
	min-height: 100vh;
	overflow: hidden;
}

.section-1 {
	height: 100vh;
	width: 100%;
	padding: 80px 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(0deg, #2222229d, #0d15ad00);
}

.box-apresentation-agenda {
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.box-apresentation-agenda h1 {
	font-family: "Roboto", sans-serif;
	font-size: 2.6rem;
	color: #ebebeb;
}

.box-apresentation-agenda p {
	font-family: "Poppins", sans-serif;
	color: #c6c6c6;
	font-size: .75rem;
	font-weight: 00;
}

.box-apresentation-agenda button {
	margin-top: 10px;
	width: 130px;
	height: 40px;
	border-radius: 4px;
	border: none;
	background-color: rgb(0, 88, 210);
	color: #d1d1d1;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
	font-size: .9rem;

	transition: .5s all;
}

.box-apresentation-agenda button:hover {
	background-color: transparent;
	border: 1px solid rgb(0, 88, 210);
	color: rgb(0, 88, 210);
}

.box-img img {
	width: 450px;
	margin-bottom: 50px;

	animation-name: animation-img;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes animation-img {
	0% {
		margin-top: 50px;
	}
	50% {
		margin-top: 0;
	}
	100% {
		margin-top: 50px;
	}
}

.section-2 {
	padding: 50px 0;
	height: auto;
	width: 100%;
	background-image: linear-gradient(80deg, #f5f5f5, #fcf8ff);
	display: flex;
	gap: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-2 h1 {
	color: #000000;
	font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 2.5rem;
	text-align: center;
	font-weight: bold;
	width: 100%;
}

.subtitulo-section-2 {
	font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #797979;
	width: 60%;
	text-align: center;
	font-weight: 500;
	font-size: 1rem;
}

.flex-box-funcionalidades {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
}

.box-funcionalidades {
	width: 90%;
	height: 800px;
	border-radius: 20px;
	background-color: #fff;
	overflow: hidden;
	position: relative;

	transform: translateY(100px);
	opacity: 0;
	transition: all 1s ease-in-out;
}

.box-funcionalidades.ativo {
	transform: translateY(0px);
	opacity: 1;
}

.title-and-img img {
	width: 120px;
}

.title-and-img h2 {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 2.5rem;
}

.title-and-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.body-p {
	margin-top: 20px;
	padding-inline: 10px;
}

.body-p p {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	color: #666666;
	text-align: center;
}

.body-img {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: 85%;
	border-radius: 20px;
	height: 500px;
}

.img-1 {
	background-image: url('../assets/img/still-life-graphic-design-day.jpg');
}

.img-2 {
	background-image: url('../assets/img/unrecognizable-woman-sitting-desk-indoors-writing-planner.jpg');
}

.img-3 {
	background-image: url('../assets/img/woman-writing-sticky-notes-office-window.jpg');
	background-position-x: -200px;
}

.body-img {
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .8;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.16);
}

.section-3 {
	height: 100vh;
	width: 100%;
	background-color: #171717;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 0px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.box-video-and-img {
	position: relative;
}

.video-agenda {
	width: 700px;
	border-radius: 8px;
	position: absolute;
	top: 60%;
	transform: translate(0%, -50%);
	right: 50px;
	z-index: 1;
	opacity: .6;
	animation-name: animation-video-agenda;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes animation-video-agenda {
	0% {
		box-shadow: 0px 0px 100px rgb(92, 92, 92);
	}
	50% {
		box-shadow: 0px 0px 30px rgb(68, 0, 178);
	}
	100% {
		box-shadow: 0px 0px 100px rgb(132, 132, 132);
	}
}

.box-video-and-img img {
	width: 600px;
	display: block;
	position: relative;
	z-index: 2;

	transform: translate(200px, 80px);
	opacity: 0;
	transition: 1s all;
}

.box-video-and-img img.active {
	transform: translate(0px, 0px);
	opacity: 1;
}

.box-text {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	transform: translateY(200px);
	opacity: 0;
	transition: 1.2s ease;
}

.box-text h2 {
	font-family: "Poppins", sans-serif;
	font-size: 2.5rem;
	color: #c6c6c6;
}

.box-text p {
	font-family: "Poppins", sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	color: #c6c6c6;
}

.box-text.active {
	transform: translateY(0px);
	opacity: 1;
}

.container-box-adquirir-agenda {
	width: 100%;
	display: flex;
	position: absolute;
	top: 410px;
	justify-content: center;
}

.box-adquirir-agenda {
	z-index: 3;
	position: absolute;
	left: 170px;
	height: 45px;
	background: rgb(40, 40, 40);
	transform: translateX(-50%);
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: 0;
}

.box-content p {
	font-family: "Poppins", sans-serif;
	color: rgb(103, 46, 248);
	cursor: pointer;
	font-size: .8rem
}

.box-content {
	display: flex;
	gap: 10px;
	opacity: 0;
}

.box-content img {
	width: 20px;
	filter: invert(70%);
	cursor: pointer;
}

.box-adquirir-agenda.active {
	animation:  animation-box-adquirir-agenda 2s forwards;
}

.box-content.active {
	animation: animation-p-box-adquirir-agenda .5s forwards;
	animation-delay: 2s;
}

.section-4 {
	padding: 50px 0;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(224, 224, 224);
}

.box-section-4 {
	display: flex;
	width: 90%;
	flex-wrap: wrap-reverse;
	justify-content: space-evenly;
	gap: 30px;
	align-items: center;
}

.box-section-4-text h2 {
	font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

.box-section-4-text h4 {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 1.3rem;
	color: rgb(46, 0, 161);
}

.box-section-4-text p {
	width: 100%;
	margin-top: 30px;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 1rem;
}

.box-section-4-img {
	display: flex;
	justify-content: center;
}

.box-section-4-img img {
	width: 90%;
	border-radius: 30px;
	box-shadow: 0px 0px 100px rgba(33, 33, 33, 0.674);
}

.box-button-flutuante-login button {
	z-index: 200;
	border-radius: 100px;
	height: 55px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-family: "Poppins", sans-serif;
	font-size: .9rem;
	border: none;
	background-color: #25007d;
	color: #fff;
	cursor: pointer;

	transition: .5s all;

	position: fixed;
	bottom: 20px;
	right: 20px;
}

.box-button-flutuante-login button:hover {
	border: 1px solid #25007d;
	background-color: transparent;
	color: #25007d;
}

.box-button-flutuante-login img {
	width: 30px;
}

@keyframes animation-box-adquirir-agenda {
	0% {
		border-radius: 0px;
	}
	20% {
		width: 0px;
	}
	85% {
		width: 80px;
	}
	100% {
		width: 300px;
		border-radius: 50px;
	}
}

@keyframes animation-p-box-adquirir-agenda {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (min-width: 330px) {

	.container-box-adquirir-agenda {
		top: 325px;
	}

}

@media (min-width: 340px) {

	.container-box-adquirir-agenda {
		top: 420px;
	}

}

@media (min-width: 360px) {

	.container-box-adquirir-agenda {
		top: 380px;
	}

}

@media (min-width: 370px) {

	.container-box-adquirir-agenda {
		top: 325px;
	}

}

@media (min-width: 380px) {

	.container-box-adquirir-agenda {
		top: 360px;
	}

}

@media (min-width: 400px) {

	.container-box-adquirir-agenda {
		top: 370px;
	}

	.img-3 {
		background-position-x: 0px;
	}

}

@media (min-width: 460px) {

	.container-box-adquirir-agenda {
		top: 300px;
	}

	.box-adquirir-agenda {
		left: 170px;
	}

}

@media (min-width: 480px) {

	.container-box-adquirir-agenda {
		top: 250px;
	}

	.box-adquirir-agenda {
		left: 170px;
	}

}

@media (min-width: 600px) {

	.section-2 {
		padding: 100px 50px;
	}

	.box-funcionalidades {
		width: 650px;
	}

	.apresentation h1 {
		font-size: 2.5rem;
	}

	.body-p {
		margin-top: 35px;
	}

	.img-2 {
		background-position-x: 0;
		background-position-y: -300px;
	}

	.box-video-and-img img {
		margin-top: 30px;
		width: 1000px;
	}

}

@media (min-width: 800px) {

	.container-box-adquirir-agenda {
		top: 220px;
	}

	.box-adquirir-agenda {
		left: 170px;
	}

	.box-section-4-img img {
		width: 600px;
	}

}

@media (min-width: 1000px) {

	.main {
		min-height: 100vh;
	}

	.section-1 {
		justify-content: space-around;
	}

	.box-apresentation-agenda {
		width: 500px;
	}

	.box-apresentation-agenda h1 {
		font-size: 4.5rem;
	}

	.box-apresentation-agenda p {
		font-size: .9rem;
	}

	.box-img img {
		width: 500px;
		animation-name: animation-img;
		animation-duration: 4.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}

	.section-2 h1 {
		font-size: 4rem;
		width: 80%;
	}

	.subtitulo-section-2 {
		width: 50%;
		font-size: 1.1rem;
	}

	@keyframes animation-img {
		0% {
			margin-left: 120px;
		}
		50% {
			margin-left: 0;
		}
		100% {
			margin-left: 120px;
		}
	}

	.video-agenda {
		width: 900px;
	}

	.container-box-adquirir-agenda {
		top: 150px;
	}

	.box-adquirir-agenda {
		left: 170px;
	}

	.box-section-4-text h2 {
		font-size: 3rem;
	}

}

@media (min-width: 1200px) {

	.box-img img {
		width: 600px;
	}

	.container-box-adquirir-agenda {
		top: 550px;
	}

	.box-adquirir-agenda {
		left: 160px;
	}

}

@media (min-width: 1275px) {

	.section-3 {
		flex-wrap: nowrap;
	}

	.container-box-adquirir-agenda {
		top: 480px;
	}

	.box-adquirir-agenda {
		height: 60px;
		left: 220px;
	}

	.box-content p {
		font-size: 1rem;
	}

	.box-adquirir-agenda.active {
		animation:  animation-box-adquirir-agenda 2s forwards;
	}

	@keyframes animation-box-adquirir-agenda {
		0% {
			border-radius: 0px;
		}
		20% {
			width: 0px;
		}
		85% {
			width: 80px;
		}
		100% {
			width: 400px;
			border-radius: 50px;
		}
	}

}