server:
  port: 80
cors:
  originPatterns: http://localhost:5050,http://localhost:5500,https://estudodosjovens.com.br,https://agenda-de-contatos-six-lac.vercel.app
spring:
  server:
    port: ${PORT:8080}
  application:
    name: contact
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/contact?useTimezone=true&serverTimezone=UTC
    username: developer
    password: 1234567
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
loggin:
  level: DEBUG